<div class="fondo">
    <div class="formularioBox">
        <form [formGroup]="loginForm">
            <h1 class="login-title">Registro</h1>

            <mat-form-field appearance="outline">
                <mat-label>Usuario</mat-label>
                <input matInput formControlName="userName" type="text">
            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input matInput formControlName="password" type="text">
            </mat-form-field>


            <button mat-button mat-flat-button [disabled]="loginForm.invalid" class="btnInicio"
                (click)="registro()" [ngStyle]="{'background-color': loginForm.invalid ? '#2a2b31' : '#cb351e'}">Registrarse</button>


            <a routerLink="/login" class="registro">Cancelar</a>
        </form>
    </div>
</div>